.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }



/* marketing */


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}


/*  end of marketing */ 

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
