*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
}
.todo-1{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bolder;
    background: linear-gradient(to right, #02cfcf 0%, #4625bd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.todo{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bolder;
    background: linear-gradient(to left, #00b6b6 0%, #4625bd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.obj {
   width: 100%;
   border: 2px solid rgb(0, 255, 149);
   border-radius: 15px;
   color: rgb(71, 70, 0);
   font-weight: bold;
}
.obj1 {
    width: 100%;
    border: 2px solid rgb(72, 255, 0);
    border-radius: 15px;
    color: rgb(0, 56, 5);
    font-weight: bold;
    text-decoration: line-through;
 }
.back{
    border: 3px solid rgb(0, 105, 88);
    border-radius: 20px;
    background: linear-gradient(to left, #00747481 0%, #08216773 100%);
}
.back1{
    border: 3px solid rgb(0, 124, 124);
    border-radius: 20px;
    background: linear-gradient(to right, #00747483 0%, #08216769 100%);
}
.o-t{
    color: white;
    font-weight: bold;
}
#sh_obj{
    background-color: white; 
    margin: 5px;
    display:flex;
    border-radius: 10px;
    padding: 5px;
}
@media only screen and (min-width: 1340px){
    .todo-1 {
         display: none;
    }
    .back{
        display: none;
    }
}